html {
  --main-bg-color: brown;
}
html,
body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
.body {
  color: white;
  text-align: center;
}

.yes {
  margin-top: -10vw;
  font-size: 25vw;
  font-weight: 900;
}

.note {
  margin-top: 2rem;
  font-size: 3vw;
  font-weight: 900;
}
